{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Catálogo de Categorías{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold mb-4 border-bottom pb-3">Catálogo de Categorías</h1>
    {% if categories %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for category in categories %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            {% if category.image %}
                <img src="{{ category.image }}" class="card-img-top" alt="{{ category.name }}">
            {% else %}
                <img src="https://res.cloudinary.com/dt5xp6kba/image/upload/v1755222307/articulo-sin-imagen_ah0jeq.png" class="card-img-top" alt="{{ category.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ category.name }}</h5>
                <p class="card-text text-muted">{{ category.article_count }} artículo{{ category.articles_count|pluralize }}</p>
                <a href="{% url 'blog:articles_by_category' category_name=category.name %}" class="btn btn-orange mt-2">Ver artículos</a>
            </div>
        </div>
    </div>
{% endfor %}

    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        No se encontraron categorías disponibles.
    </div>
    {% endif %}
</div>
{% endblock %}